.unSeenUnMarked {
  background-color: rgb(240, 240, 217);
}
.checkedMarked {
  background-color: rgb(11, 221, 4);
  border-right: 20px solid black;
}
.checkedUnMarked {
  background-color: rgb(11, 221, 4);
}
.seenMarked {
  background-color: rgb(231, 55, 152);
  border-right: 20px solid black;
}
.seenUnMarked {
  background-color: rgb(231, 55, 152);
}
